body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*** Header ***/

header {
    background-color: #DDD;
    font-family: 'Itim', cursive;
    height: 110px;
    background-color: #3C4E59;
}
.img-logo {
    height: 95px!important;
}
.c1 {
    color:#022840;
}
.c2 {
    color:#3C4E59;
}
.c3 {
    color:#0E7373;
}
.c4 {
    color:#F26444;
}
.c5 {
    color:#F2F2F2;
}
.nav-item a {
    font-size: 22px;
    color: #FFF;
    font-weight: 500;
    transition: all  1s;
}
.nav-item a:hover {
    text-decoration: none;
    color: #3D7EA6;
}
.nav-login a,
.nav-cadastro a{
    color: #59a9da;
    font-size: 18px;
    font-weight:500;
}
.espacador {
    font-weight: 500;
    color: #FFF;
    font-size: 19px;
}
.nav-cadastro a {
    background-color: #fff;
    padding: 5px 7px 5px 7px;
    border-radius: 10px;
}
.nav-cadastro a:hover {
    background-color: #3D7EA6;
    color: #FFF;
}

/*** Section ***/

.section {
    height: 500px;
    margin-top: 5px;
    font-family: 'Lato', sans-serif;
}
.img-background {
    background-image: url('../Images/section/banner.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 500px;
    width: 100%;
}
.texto-banner {
   width: 450px;
   font-weight: 500;
   color: #FFF;
   padding: 30px;
}
.h1-banner {
    font-size: 60px;
}
.p-banner {
    font-size: 22.5px;
    font-weight: 500;
}
.botao-banner {
    color: #59a9da;
    font-weight: 500;
    font-size: 20px;
    transition: all 1s;
}
.botao-banner:hover {
    background-color: #3D7EA6;
    color: #FFF;
}
.botao-banner::after {
    content: '➜';
    margin-left: 6px;
}

/*** Article ***/

.article {
    height: auto;
    margin-top:30px;
    font-family: 'Lato', sans-serif;
}
.text-top-article {
    text-align: center;
    margin-top: 10px;
}
.h1-top-article,
.h1-top-depoimentos {
    font-size: 45px;
    color: #59a9da;
    font-weight: 600;
}
.cards-content-area {
    margin-top: 40px;
    display: flex;
    flex-wrap: wrap;
    padding: 30px;
}
.card {
    max-width: 1000px;
    max-height: 400px;
    text-align: center!important;
    border: none;
    border-right: 1px solid #3D7EA6;
}
.img-card-icon {
    width: 120px;
}
.h1-title-card,
.h1-nome-depoimentos {
    font-size: 30px;
    font-weight: bold;
    color: #3C4E59;
}
.p-sub-title-card,
.p-nome-depoimentos {
    font-style: italic;
    text-align: unset;
    margin-top: 5px;
    font-size: 15px;
    color: #3C4E59;
}

/*** Main ***/

.main {
    height: auto;
    margin-top: 80px;
    font-family: 'Lato', sans-serif;
}
.text-top-depoimentos {
    padding-top: 10px;
    text-align: center;
}
.container-depoimentos {
    margin-top: 30px;
}
.card-depoimentos {
    max-width: 1000px;
    max-height: 400px;
    text-align: center!important;
    border-right: 1px solid #3D7EA6;
    padding: 30px;
}
.border-right-none {
    border-right:none;
}
.img-card-depoimentos {
    text-align: center;
}
.img-depoimentos {
    width: 250px;
    max-width: 1000px;
    max-height: 165px;
    border-radius: 100%;
}
.name-card-depoimentos {
    margin-top: 30px;
}
.p-nome-depoimentos {
    margin-top: 15px;
}
/*** 2º Section ***/
.section-preco {
    height: auto;
    margin-top: 80px;
    font-family: 'Lato', sans-serif;
}
.h1-top-precos {
    font-size: 45px;
    color: #59a9da;
    font-weight: 600;
}
/*** Card ***/
.preco-content {
    padding: 30px;
}
.card-preco-content {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 40px;
}
.card-plano-caracter-content {
    margin-top: 40px;
}
.card-preco {
    height: 400px;
    background-color: #fdfdfd;
    width: 300px;
    border: 1px solid #3C4E59;
    border-radius: 5px;
}
.card-plano-titulo {
    height: 50px;
    background-color: #3C4E59;
    width: 100%!important;
    border:1px solid #000;
    display: flex;
    justify-content: center;
    align-items: center;
}
.plano-texto {
    color: #FFF;
    font-size: 21px;
    font-weight: bold;
}
.card-plano-preco {
    margin-top: 30px;
}
.h1-card-preco {
    font-size: 32px;
    color: #59a9da;
}
.card-margin-left {
    margin-left: 30px;
}
.plano-caracter-text {
    font-size: 16.5px;
}
.ativo {
    /*color: #35a5e9;*/
    color:#59a9da;
}
.desativado {
    color: #a9c2d0;
}
.ativo::after {
    content: '✔';
    margin-left: 5px;
}
.desativado::after {
    content:'✘';
    margin-left: 5px;
}
.plano-caracter-botao {
    margin-top: 25px;
}
.botao-plano {
    background-color: #3C4E59;
    border:none;
    border-radius: 5px;
    color: #FFF;
    font-size: 18px;
    padding: 5px 20px 5px 20px;
    cursor: pointer;
    transition: all 1s;
}
.botao-plano:hover {
    background-color: #5f7786;
}
/*** Footer ***/
.footer {
    height:100px;
    background-color: #3C4E59;
    font-family: 'Lato', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
}
.h1-footer {
    text-align: center;
    color: #FFF;
    font-weight: bolder;
    font-size:25px;
}
/*** Responsivo ***/


@media screen and (max-width:992px) {
    header {
        height: auto;
    }
    .espacador {
        display: none;
    }
    .nav-item {
        margin:7px 0px 5px 0px;
    }
    .nav-item a { 
        font-size: 18px;
    }
    .nav-login a,
    .nav-cadastro a {
        color: ;
        margin-top: 20px;
    }
    .navbar-nav {
        border-top: 1px solid #022840;
        width: 100%!important;
    }
    .navbar-login {
        border-top:none!important;
    }
    .card {
        border: none;
    }
    .card-depoimentos {
        border:none;
    }
}
@media screen and (max-width:780px) {
    .card-preco-content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .card-margin-left {
        margin-left: unset;
    }
    .card-preco {
        width: 100%!important;
        margin-top: 30px;
        margin-bottom: 30px;
    }

}
@media screen and (max-width:425px) {
    .h1-banner {
        font-size: 37px;
    }
    .p-banner {
        margin-top: 10px;
        font-size: 18.5px;
    }
    .img-background {
        height: 360px;
    }
    .botao-banner {
        font-size: 18px;
    }
    .article {
        margin-top: 0px;
    }
    .section {
        height: 430px;
    }
    .text-top-article {
        margin-top: 0px;
    }
    .cards-content-area {
        margin-top: 5px;
    }
    .h1-footer {
        font-size: 20px;
    }
}