body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*** Header ***/

header {
    background-color: #DDD;
    font-family: 'Itim', cursive;
    height: 110px;
    background-color: #3C4E59;
}
.img-logo {
    height: 95px!important;
}
.color1 {
    color:#022840;
}
.color2 {
    color:#3C4E59;
}
.color3 {
    color:#0E7373;
}
.color4 {
    color:#F26444;
}
.color5 {
    color:#F2F2F2;
}
.nav-item a {
    font-size: 22px;
    color: #FFF;
    font-weight: 500;
    transition: all  1s;
}
.nav-item a:hover {
    text-decoration: none;
    color: #3D7EA6;
}
.nav-login a,
.nav-cadastro a{
    color: #59a9da;
    font-size: 18px;
    font-weight:500;
}
.espacador {
    font-weight: 500;
    color: #FFF;
    font-size: 19px;
}
.nav-cadastro a {
    background-color: #fff;
    padding: 5px 7px 5px 7px;
    border-radius: 10px;
}
.nav-cadastro a:hover {
    background-color: #3D7EA6;
    color: #FFF;
}

/*** Section ***/

section {
    height: 500px;
    margin-top: 5px;
    font-family: 'Lato', sans-serif;
}
.img-background {
    background-image: url('../Images/section/banner.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 500px;
    width: 100%;
}
.texto-banner {
   width: 450px;
   font-weight: 500;
   color: #FFF;
   padding: 30px;
}
.h1-banner {
    font-size: 60px;
}
.p-banner {
    font-size: 22.5px;
    font-weight: 500;
}
.botao-banner {
    color: #59a9da;
    font-weight: 500;
    font-size: 20px;
    transition: all 1s;
}
.botao-banner:hover {
    background-color: #3D7EA6;
    color: #FFF;
}
.botao-banner::after {
    content: '➜';
    margin-left: 6px;
}

/*** Article ***/

article {
    height: auto;
    margin-top:30px;
    font-family: 'Lato', sans-serif;
}
.text-top-article {
    text-align: center;
    margin-top: 10px;
}
.h1-top-article,
.h1-top-depoimentos {
    font-size: 45px;
    color: #59a9da;
    font-weight: 600;
}
.cards-content-area {
    margin-top: 40px;
    display: flex;
    flex-wrap: wrap;
}
.card {
    max-width: 1000px;
    max-height: 400px;
    text-align: center!important;
    padding: 30px;
    border: none;
    border-right: 1px solid #3D7EA6;
}
.img-card-icon {
    width: 120px;
}
.h1-title-card {
    font-size: 30px;
    font-weight: bold;
    color: #022840;
}
.p-sub-title-card {
    font-style: italic;
    text-align: unset;
    margin-top: 5px;
    font-size: 15px;
    color: #022840;
}

/*** Main ***/

main {
    background-color: #CCC;
    height: 400px;
    margin-top: 30px;
    font-family: 'Lato', sans-serif;
}
.text-top-depoimentos {
    padding-top: 10px;
    text-align: center;
}

/*** Responsivo ***/


@media screen and (max-width:992px) {
    header {
        height: auto;
    }
    .espacador {
        display: none;
    }
    .nav-item {
        margin:7px 0px 5px 0px;
    }
    .nav-item a { 
        font-size: 18px;
    }
    .nav-login a,
    .nav-cadastro a {
        color: ;
        margin-top: 20px;
    }
    .navbar-nav {
        border-top: 1px solid #022840;
        width: 100%!important;
    }
    .navbar-login {
        border-top:none!important;
    }
    .card {
        border: none;
    }
}
@media screen and (max-width:425px) {
    .h1-banner {
        font-size: 37px;
    }
    .p-banner {
        margin-top: 10px;
        font-size: 18.5px;
    }
    .img-background {
        height: 360px;
    }
    .botao-banner {
        font-size: 18px;
    }
    article {
        margin-top: 0px;
    }
    section {
        height: 430px;
    }
    .text-top-article {
        margin-top: 0px;
    }
    .cards-content-area {
        margin-top: 5px;
    }
}